@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,200;0,300;0,700;1,400&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    background: linear-gradient(289deg, rgba(127,13,203,1) 23%, rgba(41,3,157,1) 85%);
}

.btn {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    font-family: inherit;
    font-weight: 200;
    text-transform: uppercase;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.btn:focus {
    outline: none;
}